<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'shopCart:create_category' %}">create a category</a>
    <a href="{% url 'shopCart:create_product' %}">create a product</a>
    <a href="{% url 'shopCart:settings' %}">Settings</a>

    <form method="post" action="{% url 'shopCart:search_by' %}">
        {% csrf_token %}
        <div>
            <label for="">Categories</label>
            <select name="categories">
                {% for category in categories%}
                    <option value="{{category}}">{{category}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Search">
        </div>
    </form>

    <h2>Products : {{products.count}}</h2>

    <div style="display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 10px;">
        {%for product in products %}
            <div class="" style="border: solid 1px; padding:10px;display:flex;flex-direction: column;align-items: center;">
                <img src="{{product.image.url}}" style="width: 100px; height: 100px;" />
                <div title="{{product.name}}" style="font-weight: bold; font-size: 18px;">{{product.name|slice:"20"}} {% if product.name|length > 20 %}...{%endif%} </div>
                <div>{{product.price}} FCFA</div>

                <!-- button -->
                <div>
                    <a style="padding: 3px;text-decoration: none;border-radius: 5px;background-color: black; border: solid 1px silver; color:white; font-weight: bold;" href="{% url 'shopCart:details_product' product.id %}" title="{{product.name}}">Voir plus</a>
                    <button>Ajouter au panier</button>
                </div>
            </div>
        {% endfor %}
    </div>

</body>
</html>